<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <th:block th:include="properties/html-dependencies.html :: default" ></th:block>
    <script th:src="@{/common/websocket-config.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/lobby/lobby.css}">

    <script th:src="@{/lobby/lobby.js}"></script>
    <th:block>
        <th:block th:if="${isHost}">
            <script>
                const IS_HOST = true;
                const ROOM_CODE = "[[${roomCode}]]";
            </script>
            <style>
                .guest-only{
                    display: none;
                }
            </style>
        </th:block>
        <th:block th:unless="${isHost}">
            <script>
                const IS_HOST = false;
                const ROOM_CODE = "[[${roomCode}]]";
            </script>
            <style>
                .host-only{
                    display: none;
                }
            </style>
        </th:block>
    </th:block>

    <title>Title</title>
</head>
<body class="bg-dark-navy">
<noscript style="z-index: 9999; position: fixed; width: 100vw; height: 100vh; background-color: white;">
    <h3>This game requires javascript to operate. Please activate javascript in your browser</h3>
</noscript>



<div class="py-12 bg-dark-navy">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="lg:text-center">
            <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-white sm:text-4xl">Anagram Margana</p>
            <p class="mt-4 max-w-2xl text-xl text-white lg:mx-auto">Mainkan Anagram Margana Bersama Teman-Temanmu</p>
        </div>

        <div class="mt-10">
            <dl class="md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
                <div class="relative">
                    <dt>
                        <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-bright-orange text-white">
                            <!-- Heroicon name: outline/globe-alt -->
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                            </svg>
                        </div>
                        <p class="ml-16 text-lg leading-6 font-medium text-white">
                            Invite Code : <span id="room-code-label">[[${roomCode}]]</span>
                        </p>
                    </dt>
                    <dd class="mt-2 ml-16 text-base text-gray-500">Gunakan kode untuk mengajak teman</dd>
                </div>

                <div class="relative flex justify-end items-center">
                    <button id="mulai-permainan-btn"
                            class="host-only
                                   m-2
                                   bg-electric-blue hover:bg-dark-celestial-blue text-white font-bold py-2 px-4 rounded
                                   border border-electric-blue">
                        <div class="grid grid-rows-1 grid-cols-1">
                            <p id="mulai-permainan-text" class="grid-area-all-1"> Mulai Permainan </p>
                            <p id="mulai-permainan-loading-text" class="grid-area-all-1 hidden">Loading...</p>

                        </div>
                    </button>
                    <button id="undang-teman-id"
                            class="bg-transparent hover:bg-celestial-blue text-celestial-blue font-semibold hover:text-white
                                   py-2 px-4 border border-celestial-blue hover:border-transparent rounded">
                        <div class="grid grid-rows-1 grid-cols-1">
                            <p id="undang-teman-text" class="grid-area-all-1">Undang Teman</p>
                            <p id="undang-teman-copied-text" class="grid-area-all-1 hidden">URL Copied!</p>
                            <p id="undang-teman-failed-text" class="grid-area-all-1 hidden">Copy failed</p>
                        </div>
                    </button>
                </div>
            </dl>
        </div>



        <div class="mt-10">
            <dl id="room-member-list"
                    class="space-y-10 md:space-y-0 md:grid md:grid-cols-4 md:gap-x-8 md:gap-y-10"
                    style="grid-auto-rows: 1fr;">

                <template id="player-name-box-template">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg border border-celestial-blue">
                        <div class="px-6 py-4">
                            <div class="name-container
                                        font-bold text-white text-xl mb-2">Jason</div>
                        </div>
                    </div>
                </template>
            </dl>
        </div>


    </div>
</div>


<script>
    $(document).ready(function () {
        var playerName = cookies.get("playerName");
        if (playerName != null)
            updatePlayerList([playerName]);
    });
</script>

</body>
</html>