.game-settings input[type='radio'][name='game-mode'] {
    display:none;
}


.label-ffa, .label-all-alone {
    display:inline-block;
    padding:3px;
    border:1px solid #e0e0e0;
    border-radius:3px;
    background-color:#F0F0F0;
    width:10em;
    text-align:center;
}


/* Clicking a label will select its corresponding hidden radio button
   We can select that radio buttons sibling label and style it. */
.game-settings input[type='radio'][name='game-mode']:checked + .label-all-alone {
    background-color:#B3ECEDFF;
}


.game-settings input[type='radio'][name='game-mode']:checked + .label-ffa {
    background-color:#B3ECEDFF;
}

.tombol-mode {
    cursor: pointer;
}

/* supaya image-nya tidak draggable */
.tombol-mode img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.game-settings-center-vertically{
    display: flex;
    flex-direction: column;
    justify-content: center;
}