.page{}
.page.hidden{
    display: none;
}


.show-on-first-round{
    display: block;
}
.hide-on-first-round{
    display: none;
}

.show-on-game-ended-only{
    display: none;
}



/* ---------- Untuk restart vote ----------  */
#restart-btn.eligible{
    background-color: #26ffb4;
    color: #000b2e;
}




/* ---------- Untuk 9 tombol input ----------  */
.inp-btn{
    text-shadow: 0 0 5px #ffffff5f;
    font-weight: 700;
}


/* ---------- Untuk Leaderboard ----------  */
.leaderboard-header{
    font-size: 2.5rem;
}

.scoreboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide-scrollbar::-webkit-scrollbar{
    display: none;
}

.scoreboard td, .scoreboard th{
    text-align: center;
}



.page-2 {
    grid-template-rows: 1fr auto 1fr;
}

#mini-scoreboard  {

}

#large-scoreboard  {
    width: fit-content;
    max-height: 400px;
}

#large-scoreboard table{
    width: 40rem;
}





/* ---------- progress bar ----------  */
.progressbar {
    border-radius: 0.375rem;
    background-color: white;
}
.progressbar .inner {
    height: 15px;
    border-radius: 0.375rem;
    animation: progressbar-countdown;
    /* Placeholder, this will be updated using javascript */
    animation-duration: 40s;
    /* We stop in the end */
    animation-iteration-count: 1;
    /* Stay on pause when the animation is finished finished */
    animation-fill-mode: forwards;
    /* We start paused, we start the animation using javascript */
    animation-play-state: paused;
    /* We want a linear animation, ease-out is standard */
    animation-timing-function: linear;
}
@keyframes progressbar-countdown {
    0% {
        width: 100%;
        background: #4997D0;
    }
    100% {
        width: 0%;
        background: #4997D0;
    }
}


/* ----------- notification ----------- */

.error-notification {
    animation: error-notification-animation 700ms ease-in-out 1;
}
@keyframes error-notification-animation {
    0% { color: #ffffff;}
    10% { color: #fc6e6e;}
    100% { color: #ffffff;}
}

.info-notification {
    animation: info-notification-animation 700ms ease-in-out 1;
}
@keyframes info-notification-animation {
    0% { color: #ffffff;}
    10% { color: #bcbcbc;}
    100% { color: #ffffff;}
}

.success-notification {
    animation: success-notification-animation 700ms ease-in-out 1;
}
@keyframes success-notification-animation {
    0% { color: #ffffff;}
    10% { color: #00ff44;}
    100% { color: #ffffff;}
}