@media screen and (orientation:portrait) {
    #page-in-game{
        display: grid;


        grid-template-rows: 1fr 1fr;
    }
    #controls-container{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 1;
    }
    #controls{
        width: 38rem;
    }
}

@media screen and (orientation:landscape) {
    #page-in-game{
        grid-template-columns: 2fr minmax(21.8rem, 30rem);
    }
    #controls-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        transform: translateY(-13%);
    }
}


@media screen and (max-width: 1090px) {
    html{
        font-size: 15px;
    }
}

@media screen and (max-width: 1040px) {
    html{
        font-size: 14px;
    }
}


@media screen and (max-width: 1020px) {
    html{
        font-size: 14px;

    }
    .px-2{
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
}


@media screen and (max-width: 950px) {
    html{
        font-size: 12px;
    }
}

@media screen and (max-width: 816px) and (orientation:landscape) {
    html{
        font-size: 10px;
    }

}

@media screen and (max-width: 780px) and (orientation:portrait) {
    html{
        font-size: 12px;
    }
    .px-2{
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
}

@media screen and (max-width: 530px) {
    html{
        font-size: 10px;
    }
}

*{
    transition: width ease-in-out 0.7s, height ease-in-out 0.7s;
}