<!--
Untuk menyimpan semua dependency pada front-end (misalnya bootstrap, tailwind, jquery, dsb)
-->

<th:block th:fragment="default">
    <th:block th:include="properties/js-constants.html :: default" />

    <script th:src="@{/common/tailwind/tailwind.js}"></script>
    <script th:src="@{/common/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/common/js.cookie.min.js}"></script>
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>

    <script th:src="@{/common/tailwind/tailwind-default-config.js}"></script>
</th:block>


<th:block th:fragment="create-join">
    <th:block th:include="properties/html-dependencies.html :: default" />

    <link th:href="@{/create-join/font/Quicksand/style-bold.css}" rel="stylesheet" />
    <link th:href="@{/create-join/font/Quicksand/style-regular.css}" rel="stylesheet" />
    <link th:href="@{/create-join/font/TisaSansPro/stylesheet.css}" rel="stylesheet" />
    <link th:href="@{/create-join/create-join.css}" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/8aea063d6d.js" crossorigin="anonymous"></script>
    <script th:src="@{/create-join/create-join.js}"></script>
</th:block>
