

<th:block th:fragment="default">
    <script th:inline="javascript">
        /*<![CDATA[*/


        var DEBUG = true;

        /*
            Konfigurasi untuk websocket
         */
        const MAIN_SERVER_ADDR = /*[[${@environment.getProperty(
                                        'main-server-addr', '')
                                    }]]*/ "";
        const WEBSOCKET_SERVER_ADDR = /*[[${@environment.getProperty(
                                          'websocket-server-addr', '')
                                     }]]*/ "";

        /*]]>*/
    </script>
</th:block>