<!DOCTYPE html>
<html lang="en">
<head style="font-size: 20px">
    <meta charset="UTF-8">

    <title>Anagram Margana</title>
    <link rel="icon" th:href="@{/img/logo-v2.png}">

    <th:block th:include="properties/html-dependencies :: create-join"></th:block>
</head>
<body class="bg-dark-navy">
    <noscript style="z-index: 9999; position: fixed; width: 100vw; height: 100vh; background-color: white;">
        <h3>This game requires javascript to operate. Please activate javascript in your browser</h3>
    </noscript>

    <div id="mainContainer"
         class="flex h-screen justify-center items-center">
        <div class="m-4 flex justify-center items-center flex-col">


            <form method="post" action="/create" id="create-room-form">
                <div id="create-join-container"
                     class="w-256 min-w-256
                        rounded-md max-w-lg p-8 flex flex-col justify-evenly"
                     style="min-height: 100px; ">

                    <div id="logo-container" class="w-72 mt-2 mr-4 mb-11 ml-2">
                        <img id="logo-img" th:src="@{/create-join/img/logo-v2.png}" class="not-draggable" >
                    </div>

                    <div class="inline-block flex flex-col items-center">
                        <div class="mb-5">
                            <div class="player-information-input-label">
                                <span>
                                    Host Name
                                </span>
                            </div>
                            <div class="grid grid-cols-1 auto-rows-auto">
                                <div class="flex flex-col col-start-1 row-start-1">
                                    <input type="text"
                                           name="playerName"
                                           placeholder="Your player name"
                                           class="player-information-input
                                              default-style upper-component-style
                                              placeholder:text-blue-400 "
                                           required >
                                </div>

                                <div id="create-room-as-host-btn"
                                     class="default-style upper-component-style clickable-effect
                                       appearance-none
                                       collapsible-to-left
                                       col-start-1 row-start-1
                                       text-white"
                                     style="z-index: 10;">
                                    <i class="fa-solid fa-user-group"></i>
                                    <span class="horizontal-space"></span>
                                    HOST - CREATE GAME
                                </div>
                            </div>
                        </div>


                        <div class="grid grid-cols-1 grid-rows-1 justify-items-center w-full">
                            <div th:fragment="submit-input-btn"
                                 class="w-full col-start-1 row-start-1
                                        flex justify-end">
                                <button id="submit-input-btn"
                                        type="submit"
                                        class="default-style lower-btn-style clickable-effect">
                                    CREATE
                                    <span class="horizontal-space"></span>
                                    <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>



                            <a id="join-as-guest-btn"
                               href="/join"
                               class="default-style lower-btn-style clickable-effect
                                      collapsible-to-right
                                      block col-start-1 row-start-1"
                               style="z-index: 10;">

                                <i class="fa-solid fa-right-to-bracket"></i>
                                <span class="horizontal-space"></span>
                                GUEST - JOIN GAME
                            </a>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>