<!DOCTYPE html>
<html lang="en">
<head style="font-size: 20px">
    <meta charset="UTF-8">

    <title>Anagram Margana</title>
    <link rel="icon" th:href="@{/img/logo-v2.png}">

    <th:block th:include="properties/html-dependencies :: create-join"></th:block>
</head>
<body class="bg-dark-navy">
<noscript style="z-index: 9999; position: fixed; width: 100vw; height: 100vh; background-color: white;">
    <h3>This game requires javascript to operate. Please activate javascript in your browser</h3>
</noscript>

    <div id="mainContainer"
         class="flex h-screen justify-center items-center">
        <div class="m-4 flex justify-center items-center flex-col">


            <form method="post" action="/join" id="create-room-form">
                <div id="create-join-container"
                     class="on-create-guest-page
                            w-256 min-w-256
                            rounded-md max-w-lg p-8 flex flex-col justify-evenly"
                     style="min-height: 100px; ">

                    <div class="inline-block flex flex-col items-center">
                        <div class="mb-5">
                            <div class="mb-3 flex flex-col">
                                <div class="player-information-input-label">
                                <span>
                                    Room Code
                                </span>
                                </div>
                                <input type="text"
                                       name="roomCode"
                                       placeholder="Room code"
                                       th:value="${roomCode}"
                                       class="player-information-input
                                                  default-style upper-component-style
                                                  placeholder:text-blue-400 "
                                       required >
                            </div>
                            <div class="mb-3 flex flex-col">
                                <div class="player-information-input-label">
                                <span>
                                    Guest Name
                                </span>
                                </div>
                                <input type="text"
                                       name="playerName"
                                       placeholder="Your player name"
                                       class="player-information-input
                                                  default-style upper-component-style
                                                  placeholder:text-blue-400 "
                                       required >
                                <label class="pl-4 mt-2 text-sm font-light text-red-500"
                                       th:if="${error_msg} != null">[[${error_msg}]]</label>
                            </div>
                        </div>

                        <div class="grid grid-cols-1 grid-rows-1 justify-items-end w-full">
                            <th:block th:include="create-join/create-join.html :: submit-input-btn" />
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

</body>
</html>