
@font-face {
    font-family: 'Tisa Sans Pro Bold';
    src: local('Tisa Sans Pro Bold'), local('TisaSansPro-Bold'),
    url('TisaSansPro-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Tisa Sans Pro Med';
    src: local('Tisa Sans Pro Medium'), local('TisaSansPro-Medium'),
        url('TisaSansPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Tisa Sans Pro';
    src: local('Tisa Sans Pro Regular'), local('TisaSansPro-Regular'),
        url('TisaSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Tisa Sans Pro';
    src: local('Tisa Sans Pro Light'), local('TisaSansPro-Light'),
        url('TisaSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


