:root{
    --blue-400: 96 165 250;
    --blue-500: 59 130 246;
    --text-shadow: 0px 0px 1px rgb(0 0 0 / 30%);
}

html {
    font-size: 10px;
    transition: font-size 500ms ease-in-out;
}


@media screen and (min-width: 320px) {
    html { font-size: 11px; }
}
@media screen and (min-width: 480px) {
    html { font-size: 12px; }
}
@media (min-width: 576px) {
    html { font-size: 14px; }
}

@media (min-width: 768px) {
    html { font-size: 16px; }
}

@media screen and (min-width: 992px) {
    html { font-size: 18px; }
}

@media screen and (min-width: 1200px) {
    html { font-size: 20px; }
}

body {
    font-family: "Quicksand Bold";
}


#create-join-container{
    --create-join-container-bg: #e6e7eb;
    box-shadow: inset 0 0 4px #000b2e;
    background-color: var(--create-join-container-bg);
    font-family: "Quicksand Bold";
    transition: height 3s;
}
#main-heading{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
#logo-img{
    filter: drop-shadow(0px 0px 2px rgba(0, 255, 242, 0.37));
    transition: filter 1200ms ease-in-out, opacity 70ms ease-in-out;
}
#logo-img:hover,#logo-img.artificial-hover-effect{
    filter: drop-shadow(0px 0px 5px rgba(0, 255, 229, 0.55));
}
#logo-img.collapsed{
    opacity: 0;
    margin: 0;
}
#logo-container{
    transition: margin 300ms ease-in-out;
}
#logo-container.collapsed{
    margin: 0;
}






.default-style,input.default-style{
    --transition: background-color 100ms ease-in-out, border-color 100ms ease-in-out,
                  box-shadow 100ms ease-in-out, text-shadow 70ms ease-in-out;

    text-align: left;
    padding-left: 2rem;

    /* substitute for tailwind: w-72 py-2 px-4 font-bold rounded-full */
    width: 18rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    font-weight: 700;
    border-radius: 9999px;

    transition: var(--transition);
}
.upper-component-style{
    --background-color: rgb(var(--blue-500));

    /* substitute for tailwind: bg-blue-500 */
    background-color: var(--background-color);
}
#create-room-as-host-btn{
    border-style: solid;
    border-width: 2px;
    border-color: var(--background-color);
}
#create-room-as-host-btn:hover{
    --tw-bg-opacity: 1;
    /* substitute for tailwind: hover:bg-blue-700 */
    --background-color: rgb(29 78 216 / var(--tw-bg-opacity));
}
.lower-btn-style{
    --tw-text-opacity: 1;
    --turquoise-400: rgba(54 199 208 / var(--tw-text-opacity));
    --turquoise-500: rgb(33 189 202 / var(--tw-text-opacity));
    background-color: var(--create-join-container-bg);

    /* substitute for tailwind: outline outline-turquoise-400 text-turquoise-500 text-shadow */
    border-style: solid;
    border-width: 2px;
    border-color: var(--turquoise-400);
    color: var(--turquoise-500);
    text-shadow: var(--text-shadow);
}
.lower-btn-style:hover{
    /* substitute for tailwind: hover:bg-turquoise-400 hover:text-white hover:outline-none  */
    background-color: var(--turquoise-400);
    color: rgb(255 255 255 / var(--tw-text-opacity));
    outline: 2px solid transparent;
    outline-offset: 2px;

}
#submit-input-btn{
    /* substitute for tailwind: w-fit  */
    width: -moz-fit-content;
    width: fit-content;
    transition: var(--transition), opacity 200ms ease-in-out;
    padding-left: 1rem;
    padding-right: 1rem;
    opacity: 0;
}
input.player-information-input{
    background-color: transparent;
    font-family: "Quicksand";
    padding-left: 1rem;

    /* substitute for tailwind: text-blue-500 text-shadow border border-blue-500 */
    color: rgb(var(--blue-500));
    text-shadow: var(--text-shadow);
    border-width: 1px;
    border-color: rgb(var(--blue-500));
}
.on-create-guest-page   .player-information-input-label,
.on-create-host-page   .player-information-input-label{
    display: initial;
}
.player-information-input-label{
    display: none;
    padding-left: 0.5rem;
    color: rgb(var(--blue-500));
    margin-bottom: 0.2rem;
}
.on-create-guest-page   #submit-input-btn,
.on-create-host-page   #submit-input-btn{
    opacity: 1;
}

#join-as-guest-btn:hover{
    text-shadow: none;
}





.clickable-effect{
    --shadowed-box-1-x-offset: 1px;
    --shadowed-box-1-y-offset: 1px;
    --shadowed-box-1-blur: 2px;
    --shadowed-box-1-spread: 0px;
    --shadowed-box-1-color: rgba(0,0,0,0.25);
    --shadowed-box-1-color-clicked: rgba(0,0,0,0.15);
    --shadowed-box-1-complete: var(--shadowed-box-1-x-offset) var(--shadowed-box-1-y-offset)
    var(--shadowed-box-1-blur) var(--shadowed-box-1-spread) var(--shadowed-box-1-color);

    -webkit-box-shadow: var(--shadowed-box-1-complete);
    -moz-box-shadow: var(--shadowed-box-1-complete);
    user-select: none;
    cursor: pointer;
}
.clickable-effect.clicked{
    --shadowed-box-1-color: rgba(0,0,0,0.15);
    --shadowed-box-1-x-offset: 0px;
    --shadowed-box-1-y-offset: 0px;
    --shadowed-box-1-blur: 1px;

    transform: translate(1px, 1px);
}



.text-shadow{
    text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
}

.horizontal-space{
    display: inline-block;
    min-width: 5px;
}

.not-draggable{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.no-transition{
    transition: none!important;
}

.collapsible-to-left,.collapsible-to-right{
    /* -10 supaya kalau ada shadow dan semacamnya, tidak ikutan terpotong */
    --inset-top: -10px;
    --inset-right: -10px;
    --inset-bottom: -10px;
    --inset-left: -10px;
    --on-collapsed: 110%;
    --inset: inset(var(--inset-top) var(--inset-right) var(--inset-bottom) var(--inset-left));

    transition: var(--transition), clip-path 400ms ease-in-out;

    clip-path: var(--inset);
}
.collapsible-to-left.collapsed{
    /* 120% supaya kalau ada shadow dan semacamnya, shadownya ikutan ditutupi */
    --inset-right: var(--on-collapsed);
}
.collapsible-to-right.collapsed{
    --inset-left: var(--on-collapsed);
}

.collapsible-fade{
    transition: var(--transition), opacity 1400ms ease-in-out;
    opacity: 1;
}
.collapsible-fade.collapsed{
    opacity: 0;
}