<th:block th:fragment="default">
    <div class="page page-game-settings hidden game-settings">
        <div class="game-settings-center-vertically h-screen">
            <form id="game-settings-form" onsubmit="submitGameSettings(); return false">
                <!-- Card -->
                <div class="max-w-xl mx-auto mb-8 py-5 px-10 bg-slate-200 rounded-xl">
                    <!-- Select Mode -->
                    <div class="">
                        <h3 class="font-bold text-l mb-1">Mode:</h3>
                        <div class="flex justify-center gap-5">
                            <!-- All Alone -->
                            <input type="radio" name="game-mode" value="ALL_ALONE" id="radio-all-alone" checked>
                            <label class="tombol-mode label-all-alone
                                  rounded-lg hover:bg-[#d3f7f8] border-4 border-black
                                  p-2 bg-white w-64" for="radio-all-alone">
                                <img class="flex mx-auto" src="/in-game/img/man-standing-up-64-px.png" alt="one-person">
                                <div class="font-bold text-lg">ALL ALONE</div>
                            </label>
                            <!-- Free for All -->
                            <input type="radio" name="game-mode" value="FREE_FOR_ALL" id="radio-ffa">
                            <label class="tombol-mode label-ffa
                                  rounded-lg hover:bg-[#d3f7f8]
                                  border-4 border-black p-2 bg-white w-64" for="radio-ffa">
                                <img class="flex mx-auto" src="/in-game/img/swords-64-px.png" alt="swords">
                                <div class="font-bold text-lg">FREE FOR ALL</div>
                            </label>
                        </div>
                    </div>
                    <!-- Select Time Limit -->
                    <div class="mt-5">
                        <h3 class="font-bold text-l mb-1">Time Limit:</h3>
                        <div class="flex justify-start">
                            <div class="w-full">
                                <select name="time-limit" class="form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-black bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-black focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example">
                                    <option value="1">1 minute</option>
                                    <option value="2">2 minutes</option>
                                    <option value="3" selected>3 minutes</option>
                                    <option value="5">5 minutes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Input Minimum Words -->
                    <div class="mt-5">
                        <label class="block text-l font-bold mb-1" for="grid-min-words">
                            Minimum Words:
                        </label>
                        <input name="min-words" class="appearance-none block w-full bg-white text-gray-700
                                                       border border-gray-200 rounded py-3 px-4 mb-1 leading-tight
                                                       focus:outline-none focus:bg-white focus:border-gray-500
                                                       invalid:text-pink-700 invalid:focus:ring-pink-700
                                                       invalid:focus:border-pink-700"
                               id="grid-min-words" type="number" placeholder="Input an integer here..."
                               min="1" max="50" value="15" required>
                        <p class="text-gray-600 text-xs italic">Min. 1; Max. 50</p>
                    </div>
                    <!-- Buttons -->
                    <div class="flex justify-between mt-5">
                        <div class="dummy show-on-first-round-only"></div>
                        <button id="finish-game-btn"
                                type="button" class="hide-on-first-round-only
                                                     bg-slate-700 hover:bg-electric-blue text-white font-bold py-2
                                                     px-4 mr-12 rounded">
                            Finish Game
                        </button>
                        <button type="button" class="hide-on-first-round-only
                                                     bg-slate-700 hover:bg-electric-blue text-white font-bold py-2
                                                     px-4 rounded"
                                onclick="showLeaderboardPage()">
                            Leaderboard
                        </button>
                        <button type="submit" class="bg-blue-500 hover:bg-electric-blue text-white font-bold py-2 px-4 rounded">
                            Start Game
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</th:block>