<th:block th:fragment="default">
    <div id="page-in-game"
         class="page page-in-game hidden grid h-screen">



        <!-- Bagian Tantra -->
        <div class="flex items-center justify-center m-6">
            <!-- Input -->
            <div class="">
                <div class="bg-electric-blue py-2 px-2 rounded-full">
                    <form onsubmit="submitAnswer(); return false">
                        <input id="answer-input-box"
                               class="bg-white rounded-full w-2/3 h-12 pl-5 w-10/12" placeholder="Type word here" value="">
                        <button type="submit"
                                class="rounded-full bg-light-celestial-blue w-24 h-12 font-bold hover:bg-sky-700">ENTER</button>
                    </form>
                </div>
                <div class="grid grid-flow-col auto-cols-max mt-4 gap-3">
                    <div class="grid grid-flow-row auto-rows-max gap-2">
                        <div class="drop-shadow-inner-lg">
                            <button type="submit"
                                    class="rounded-full bg-electric-blue w-36
                                           h-12 font-bold hover:bg-sky-700 text-white"
                                    onclick="shuffleHuruf()">SHUFFLE</button>
                        </div>
                        <div>
                            <button id="restart-btn"
                                    class="rounded-full bg-electric-blue w-36 h-12
                                           font-bold hover:bg-sky-700 text-white">
                                RESTART <span id="restart-number-of-vote"></span>
                            </button>
                        </div>
                    </div>
                    <div class="grid grid-cols-3 gap-y-2 gap-x-10 w-80" id="btn">
                        <button type="submit" class="inp-btn rounded-lg bg-celestial-blue w-28 h-20 hover:bg-sky-200" id="b1" value="A" onclick="randomLetterButtonClickEventHandler(this)"></button>
                        <button type="submit" class="inp-btn rounded-lg bg-light-celestial-blue w-28 h-20 hover:bg-sky-200" id="b2" value="B" onclick="randomLetterButtonClickEventHandler(this)"></button>
                        <button type="submit" class="inp-btn rounded-lg bg-celestial-blue w-28 h-20 hover:bg-sky-200" id="b3"  value="C" onclick="randomLetterButtonClickEventHandler(this)"></button>
                        <button type="submit" class="inp-btn rounded-lg bg-light-celestial-blue w-28 h-20 hover:bg-sky-200" id="b4" value="D" onclick="randomLetterButtonClickEventHandler(this)"></button>
                        <button type="submit" class="inp-btn rounded-lg bg-celestial-blue w-28 h-20 hover:bg-sky-200" id="b5" value="E" onclick="randomLetterButtonClickEventHandler(this)"></button>
                        <button type="submit" class="inp-btn rounded-lg bg-light-celestial-blue w-28 h-20 hover:bg-sky-200" id="b6" value="F" onclick="randomLetterButtonClickEventHandler(this)"></button>
                        <button type="submit" class="inp-btn rounded-lg bg-celestial-blue w-28 h-20 hover:bg-sky-200" id="b7" value="G" onclick="randomLetterButtonClickEventHandler(this)"></button>
                        <button type="submit" class="inp-btn rounded-lg bg-light-celestial-blue w-28 h-20 hover:bg-sky-200" id="b8" value="H" onclick="randomLetterButtonClickEventHandler(this)"></button>
                        <button type="submit" class="inp-btn rounded-lg bg-celestial-blue w-28 h-20 hover:bg-sky-200" id="b9" value="I" onclick="randomLetterButtonClickEventHandler(this)"></button>
                    </div>
                    <div class="grid grid-flow-row auto-rows-max gap-2 ml-8">
                        <div class="bg-electric-blue rounded-lg w-32 h-16 text-center pt-1">
                            <p class="text-lg text-white">My Nickname</p>
                            <!--suppress ThymeleafVariablesResolveInspection -->
                            <p class="text-lg text-white font-medium" th:text="${player_name}"></p>
                        </div>
                        <div class="bg-electric-blue rounded-lg w-32 h-16 text-center pt-2 text-lg">
                            <p class="text-lg text-white">My Position</p>
                            <p id="rank-status-body"
                               class="text-lg text-white font-medium">1st</p>
                        </div>
                        <div class="bg-electric-blue rounded-lg w-32 h-16 text-center pt-2">
                            <p class="text-lg text-white">My Score</p>
                            <p id="score-status-body"
                               class="text-lg text-white font-medium">0</p>
                        </div>
                    </div>
                </div>

                <div class="bg-electric-blue py-2 px-2 rounded-lg w-4/5 mt-4">
                    <p class="font-bold text-white">Words Found</p>
                    <div id="words-found-body"
                       class="flex flex-row flex-wrap items-center justify-start gap-y-1.5 w-12/12 min-h-8 pl-5 pr-5 text-center mt-2">

                        <div class="text-white pl-2">
                            None yet :(
                        </div>
                    </div>

                    <template id="words-found-wrapper-template">
                        <div class="wrapper-body
                                    bg-light-celestial-blue rounded-lg font-semibold pl-2 pr-2 ml-1 mr-1">
                            dow
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <script th:src="@{/in-game/input-and-words-found.js}" ></script>
        <script th:src="@{/in-game/notification.js}" ></script>



        <div id="controls-container h-full">
            <div id="controls" class="mt-6 mr-6">
            <!-- Bagian Kevin -->
            <!-- Notification -->
            <div class="my-5" id="mini-notification">
                <div id="primary-notification"
                     class="bg-electric-blue border border-electric-blue rounded-xl p-3 shadow-md" >
                    <p id="primary-notification-header"
                       class="font-bold text-white notification-title">Notification</p>
                    <p id="primary-notification-body"
                       class="text-white notification-content">-</p>
                </div>
            </div>


            <!-- Bagian Pram -->
            <!-- Time Remaining -->
            <div class="my-5">
                <p class="font-bold text-white">Time Remaining: <span id="time"></span></p>
                <div id="progressbar"></div>
            </div>


            <!-- Bagian Kevin -->
            <!-- Words to Find -->
            <div class="my-5" id ="words-to-find">
                <p class="font-bold text-white">Words to Find</p>
                <div class="bg-electric-blue border border-electric-blue rounded-xl p-3 shadow-md">
                    <div class="flex justify-between mb-3">
                        <div class="flex justify-between bg-celestial-blue rounded-lg font-semibold w-28 px-2 py-1 text-xs">
                            <p>four letters:</p>
                            <p id="wtf-4-letters">0</p>
                        </div>
                        <div class="flex justify-between bg-celestial-blue rounded-lg font-semibold w-28 px-2 py-1 text-xs">
                            <p>five letters:</p>
                            <p id="wtf-5-letters">0</p>
                        </div>
                        <div class="flex justify-between bg-celestial-blue rounded-lg font-semibold w-28 px-2 py-1 text-xs">
                            <p>six letters:</p>
                            <p id="wtf-6-letters">0</p>
                        </div>
                    </div>
                    <div class="flex justify-between">
                        <div class="flex justify-between bg-celestial-blue rounded-lg font-semibold w-28 px-2 py-1 text-xs">
                            <p>seven letters:</p>
                            <p id="wtf-7-letters">0</p>
                        </div>
                        <div class="flex justify-between bg-celestial-blue rounded-lg font-semibold w-28 px-2 py-1 text-xs">
                            <p>eight letters:</p>
                            <p id="wtf-8-letters">0</p>
                        </div>
                        <div class="flex justify-between bg-celestial-blue rounded-lg font-semibold w-28 px-2 py-1 text-xs">
                            <p>nine letters:</p>
                            <p id="wtf-9-letters">0</p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Bagian Pram -->
            <!-- Scoreboard -->
            <div class="my-5">
                <p class="font-bold text-white">Leaderboard</p>
                <div id="mini-scoreboard"
                     class="scoreboard hide-scrollbar relative overflow-auto shadow-md sm:rounded-lg border border-dark-navy max-h-44">

                    <table class="w-full text-sm text-left">
                        <thead class="text-xs text-white uppercase bg-electric-blue sticky top-0">
                        <tr>
                            <th class="px-6 py-3">
                                Rank
                            </th>
                            <th class="px-6 py-3">
                                Name
                            </th>
                            <th class="px-6 py-3">
                                Score
                            </th>
                        </tr>
                        </thead>
                        <tbody class="scoreboard-body">


                        </tbody>
                    </table>

                    <template class="scoreboard-row-tempalate">
                        <tr class="bg-light-celestial-blue border-b border-electric-blue">
                            <th class="rank-number
                                       px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                1
                            </th>
                            <td class="player-name
                                       px-6 py-4">
                                Pram1
                            </td>
                            <td class="player-score
                                       px-6 py-4">
                                10
                            </td>
                        </tr>
                    </template>

                </div>
            </div>




            <!-- Bagian Kevin -->
            <!-- Notification Center -->
            <div class="my-5 host-only">
                <p class="font-bold text-white">Notification Center</p>
                <div class="hide-scrollbar relative overflow-auto shadow-md sm:rounded-lg border border-electric-blue max-h-44">
                    <table class="w-full text-sm text-left">
                        <thead class="text-xs text-white uppercase bg-electric-blue sticky top-0">
                        <tr>
                            <th class="px-6 py-3">
                                Rank
                            </th>
                            <th class="px-6 py-3">
                                Activity
                            </th>

                        </tr>
                        </thead>
                        <tbody id="host-notif-body-container">


                        </tbody>
                    </table>

                    <template id="host-notif-template">
                        <tr class="bg-light-celestial-blue border-b border-electric-blue">
                            <th class="notif-number px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                3
                            </th>
                            <td class="notif-body px-6 py-4">
                                Pram2 has voted Restart
                            </td>

                        </tr>
                    </template>

                </div>
            </div>

        </div>
        </div>
    </div>

</th:block>