<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


    <link th:href="@{/in-game/game-settings.css}" rel="stylesheet" />
    <link th:href="@{/in-game/in-game.css}" rel="stylesheet" />
    <link th:href="@{/in-game/responsive.css}" rel="stylesheet" />

    <th:block th:include="properties/html-dependencies.html :: default" />
    <script th:src="@{/common/websocket-config.js}"></script>

    <script src="https://kit.fontawesome.com/8aea063d6d.js" crossorigin="anonymous"></script>
    <script th:src="@{/in-game/switch-page.js}"></script>
    <script th:src="@{/in-game/scoreboard.js}"></script>
    <script th:src="@{/in-game/notification.js}"></script>
    <script th:src="@{/in-game/in-game.js}"></script>
    <script th:src="@{/in-game/restart-vote.js}"></script>



    <th:block>
        <th:block th:if="${is_host}">
            <script>
                const IS_HOST = true;
                console.log("[[${is_host}]]");
            </script>
            <style>
                .guest-only{
                    display: none;
                }
            </style>
        </th:block>
        <th:block th:unless="${is_host}">
            <script>
                const IS_HOST = false;
                console.log("[[${is_host}]]");
            </script>
            <style>
                .host-only{
                    display: none;
                }
            </style>
        </th:block>
    </th:block>


    <title>In Game</title>
</head>
<body class="bg-dark-navy">
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">


<noscript style="z-index: 9999; position: fixed; width: 100vw; height: 100vh; background-color: white;">
    <h3>This game requires javascript to operate. Please activate javascript in your browser</h3>
</noscript>




<script>
    $(document).ready(function (){
        if (!window.location.hash){
            showLeaderboardPage();
        }else{
            if (window.location.hash === "#in-game"){
                showInGamePage();
            }else if (window.location.hash === "#game-settings"){
                showGameSettingsPage();
            }else {
                showLeaderboardPage();
            }
        }
    });
</script>



<th:block th:include="in-game/in-game :: default"></th:block>
<th:block th:include="in-game/scoreboard-besar :: default"></th:block>
<th:block th:include="in-game/game-settings :: default"></th:block>

<script th:src="@{/in-game/time-left-dan-words-to-find.js}"></script>



</body>
</html>
