<th:block th:fragment="default">
    <div class="page page-big-leaderboard hidden h-screen w-screen grid" >
        <div style="text-align: right">
            <div class="host-only
                        text-white text-3xl m-5"
                 style="cursor: pointer;"
                 onclick="showGameSettingsPage()">

                <i class="hide-on-game-ended
                          far fa-times-circle"></i>
            </div>
        </div>

        <div class="scoreboard-container">

            <h1 class="leaderboard-header hide-on-game-ended
                       font-bold text-white">Leaderboard</h1>
            <h1 class="leaderboard-header show-on-game-ended-only
                       font-bold text-white">Final Leaderboard</h1>

            <div class="h-6"></div>

            <div id="large-scoreboard"
                 class="scoreboard hide-scrollbar overflow-auto shadow-md sm:rounded-lg border border-dark-navy">

                <table class="w-full text-sm text-left rounded-lg">
                    <thead class="text-xs text-white uppercase bg-electric-blue sticky top-0">
                    <tr>
                        <th class="px-6 py-3">
                            Rank
                        </th>
                        <th class="px-6 py-3">
                            Name
                        </th>
                        <th class="px-6 py-3">
                            Score
                        </th>
                    </tr>
                    </thead>

                    <tbody class="scoreboard-body">

                    </tbody>
                </table>


                <template class="scoreboard-row-tempalate">
                    <tr class="bg-light-celestial-blue border-b border-electric-blue">
                        <th class="rank-number
                                   px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            1
                        </th>
                        <td class="player-name
                                   px-6 py-4">
                            Pram1
                        </td>
                        <td class="player-score
                                   px-6 py-4">
                            10
                        </td>
                    </tr>
                </template>
            </div>

            <span class="guest-only hide-on-game-ended
                         text-slate-400 m-7 text-sm">
                waiting for a new round...
            </span>

            <span class="show-on-game-ended-only
                         text-slate-400 m-7 text-sm">
                The game is over. Thank you for playing!
            </span>
        </div>

        <div></div>
    </div>
</th:block>